[submodule "SI100"]
    path = SI100
    url = git@github.com:otbox/SI100.git
[submodule "Graph-QL-API"]
	path = Graph-QL-API
	url = git@github.com:otbox/Graph-QL-API.git
[submodule "SI300_POO"]
	path = SI300_POO
	url = git@github.com:otbox/SI300_POO.git
[submodule "SI304_ESII/eng-software-automovel"]
	path = SI304_ESII/eng-software-automovel
	url = git@github.com:otbox/eng-software-automovel.git
[submodule "SI401-ProgWeb"]
	path = SI401-ProgWeb
	url = git@github.com:otbox/SI401-ProgWeb.git
[submodule "SI400_POO2"]
	path = SI400_POO2
	url = git@github.com:otbox/SI400_POO2.git
[submodule "basic-gui-with-threads"]
	path = basic-gui-with-threads
	url = git@github.com:NelsonModenezNeto/basic-gui-with-threads.git
[submodule "memory-game-pweb"]
	path = memory-game-pweb
	url = git@github.com:NelsonModenezNeto/memory-game-pweb.git
[submodule "So/ProjetoFinal/trabalho-final-so"]
	path = So/ProjetoFinal/trabalho-final-so
	url = git@github.com:otbox/trabalho-final-so.git
[submodule "SI202/gerenciador-credenciais"]
	path = SI202/gerenciador-credenciais
	url = git@github.com:otbox/gerenciador-credenciais.git
[submodule "IHC/IHC-ATAPIL"]
	path = IHC/IHC-ATAPIL
	url = git@github.com:MiguelMagior/IHC-ATAPIL.git
