[submodule "SI100"]
    path = SI100
    url = https://github.com/otbox/SI100.git
[submodule "Graph-QL"]
	path = GraphQL
	url = https://github.com/otbox/Graph-QL-API.git
[submodule "Graph-QL-API"]
	path = Graph-QL-API
	url = https://github.com/otbox/Graph-QL-API.git
[submodule "SI300_POO"]
	path = SI300_POO
	url = https://github.com/otbox/SI300_POO
[submodule "SI304_ESII/eng-software-automovel"]
	path = SI304_ESII/eng-software-automovel
	url = https://github.com/otbox/eng-software-automovel
[submodule "SI401-ProgWeb"]
	path = SI401-ProgWeb
	url = git@github.com:otbox/SI401-ProgWeb.git
[submodule "SI400_POO2"]
	path = SI400_POO2
	url = git@github.com:otbox/SI400_POO2.git
[submodule "basic-gui-with-threads"]
	path = basic-gui-with-threads
	url = git@github.com:NelsonModenezNeto/basic-gui-with-threads.git
[submodule "memory-game-pweb"]
	path = memory-game-pweb
	url = git@github.com:NelsonModenezNeto/memory-game-pweb.git
[submodule "So/ProjetoFinal/trabalho-final-so"]
	path = So/ProjetoFinal/trabalho-final-so
	url = git@github.com:otbox/trabalho-final-so.git
